/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 oct. 2016, 14:51:11
    Author     : admin
*/

body {
    color: purple;
    background-color: #1C1C1C; 
    font-family: Lucida Handwriting;
    border-color:red green blue pink; 
}
h1 {
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-family: Comic sans ms;
}
a,a:visited,a:link {
    color: #FBFBEF;
    text-decoration: none;
}
a:hover {
    color: yellow;
    text-decoration: underline;
}
h2,h4,h5 {
    color: white;
}
table,td,tr {
    border: 2px solid #FBEFFB;
    cellpadding: 10;
    cellspacing: 2;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto;
    align-self: center;
}
table td:first-child {
    webkit-column-span: 4; 
    moz-column-span: 4;
    column-span: 4;
}

th {
    color: brown;
    text-align: center;
    background-color: #E0E6F8;
}
img {
    text-align: left;
    cursor: move;

}

div first {
    border-style: solid;
    border-radius: 5;
    border-color: pink;
}

.titre{
    text-transform: capitalize;
}

.menu{
    text-transform: uppercase;
}